@use "../variables" as v;

.bloque {
  padding: 1rem 1.5rem;
  background-color: v.$color-background;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;  
  }

  &__titleh1 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__name {
    font-size: 2.5rem;
    font-weight: 900;
  }
  
  &__comment {
    font-size: 2rem;
    font-weight: 100;
  }

  &__titleh2 {
    font-size: 2rem;
    font-weight: 500;
  }

  &__text {
    color: v.$color-text;
    font-size: 1rem;
    line-height: 1.6;
  }

  &__list {
    margin: 1rem 0;
    padding-left: 1.5rem;
    list-style: disc;
  }

  &__item {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  @media screen and (max-width: v.$max-width) {
    padding: 2rem 1rem;

    &__title {
      font-size: 1.5rem;
    }

    &__text {
      font-size: 0.95rem;
    }
  }
}

