@use "../variables" as v;

.button {
  display: inline-block;
  width: auto;
  padding: 0.75rem 1.5rem;
  border: 2px solid v.$color-component-border;
  border-radius: 5px;
  background-color: v.$color-component;
  color: v.$color-background;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &:hover {
    background-color: v.$color-component-hover;
  }
}

