@use "../variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: v.$color-form;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px v.$color-shadow;
  width: 100%;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  label {
    font-weight: bold;
    font-size: 0.95rem;
  }

  input,
  select,
  textarea {
    padding: 0.5rem;
    border: 1px solid v.$color-footer-text;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  &__group {
    display: flex;
    gap: 2rem;
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @media screen and (max-width: v.$max-width) {
      grid-template-columns: 1fr;
    }
  }

  &__stars {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;

    input[type="radio"] {
      display: none;
    }

    label {
      font-size: 2rem;
      color: v.$color-star-grey;
      cursor: pointer;
      transition: color 0.2s;
    }

    // Estrella seleccionada o hover
    input[type="radio"]:checked + label,
    input[type="radio"]:checked + label ~ label,
    label:hover,
    label:hover ~ label {
      color: v.$color-star-yellow;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

