@use "../variables" as v;

.icon {
  &__grid {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: v.$max-width) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;

    i {
      width: 40px;
      color: v.$color-component;
      font-size: 1.5rem;
    }

    span {
      flex: 1;
    }
  }
}

