@use "../variables" as v;

.contacto {
    &__grid {
        display: grid;
        gap: 2rem;
        width: 100%;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        
        @media screen and (max-width: v.$max-width) {
            grid-template-columns: 1fr;
            justify-items:flex-start;
        }   
    }
}
