@use "../variables" as v;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: v.$color-background;
  color: v.$color-text;
  font-size: 16px;
  font-family: v.$font-family-sans-serif;
  line-height: 24px;
}

.index {
  position: relative;
  display: flex;
  width: 100%;
  height: 60vh;
  
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: v.$color-overlay;
    
    .vivienda{
      color: v.$color-background;
      font-size: 3rem;
      font-weight: 100;
      text-align: center;
      
      @media screen and (max-width: v.$max-width) {
        font-size: 2rem;
      }
    }
  }
}

.mapa {
  width: 100%; 
  height: 400px;
  margin: 20px 0;  
  border: 0; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px v.$color-shadow; 
}

.localidad {
  color: v.$color-background;
  font-size: 3rem;
  font-weight:bold;
  text-align: center;
  
  @media screen and (max-width: v.$max-width) {
    font-size: 2rem;
  }
}

.vivienda {
  color: v.$color-text;
  font-size: 2.5rem;
  font-weight: 900;
}






