@use "../variables" as v;

.reservas{
  &__grid {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: v.$max-width) {
      grid-template-columns: 1fr;

      // Orden correcto en móvil
      #form-reserva { order: 1; }
      #resultado-precio { order: 2; }
      #form-cancel { order: 3; }
      #resultado-precio-cancel { order: 4; }
    }
  }

  &__calendario {
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }
}

  .payment-info {
    margin: 20px 0;
    padding: 15px;
    background: v.$color-payment;
    border-left: 4px solid v.$color-payment-border;

    p {
      margin: 0;
      font-size: 14px;
    }

    &__icons {
      margin-top: 10px;
      width: 60px;
      height: 40px;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;

      img {
        width: 60px;
        height: auto;
        display: block;
      }
    }

    &__note {
      margin-top: 5px;
      font-size: 13px;
      color: var(--color-comment);
    }
  }





