@use "../variables";

.reservas{
    &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

