@use "../variables" as v;

.valoraciones {
  margin-top: 20px;

  &__item {
    margin-bottom: 20px;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: v.$color-form;
    box-shadow: 0 2px 6px v.$color-shadow;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__date {
    color: v.$color-comment-date;
    font-weight: normal;
  }

  &__detail {
    margin: 5px 0;
  }

  &__comment {
    color: v.$color-comment;
    font-style: italic;
  }

  &__empty {
    color: v.$color-comment-empty;
    font-style: italic;
  }

  &__container {
    width: 100%;
  }
}