<!DOCTYPE html>
<header class="header">
  <div class="header__container">
    
    <!-- Logo -->
    <div class="header__logo">
      <a href="./index.html">
        <img src="./assets/images/logo_blanco.webp" alt="Logo" class="header__favicon">
      </a>
    </div>

    <!-- Botón hamburguesa para móviles -->
    <button class="header__toggle" aria-label="Abrir menú">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navegación -->
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a class="header__link" href="./index.html">Inicio</a></li>
        <li class="header__item"><a class="header__link" href="./galeria.html">Galeria</a></li>
        <li class="header__item"><a class="header__link" href="./reservas.html">Reservas</a></li>
        <li class="header__item"><a class="header__link" href="./valoraciones.html">Valoraciones</a></li>
        <li class="header__item"><a class="header__link" href="./contacto.html">Contacto</a></li>
      </ul>

      <!-- Traductor -->
      <div id="google_translate_element" class="header__translate"></div>
    </nav>
  </div>
</header>
