<header class="header">
  <div class="header__container">
    
    <div class="header__logo">
      <a href="./index.html">
        <img src="./assets/images/logo_blanco.webp" alt="Logo Refugio del Mirador" class="header__favicon">
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a class="header__link" href="./index.html">Inicio</a></li>
        <li class="header__item"><a class="header__link" href="./galeria.html">Galeria</a></li>
        <li class="header__item"><a class="header__link" href="./reservas.html">Reservas</a></li>
        <li class="header__item"><a class="header__link" href="./valoraciones.html">Valoraciones</a></li>
        <li class="header__item"><a class="header__link" href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
