@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$color-background: #fff;
$color-text: #333;
$color-component: #2E7D32;
$color-component-hover: #1B5E20;
$color-component-border: #000;
$color-footer: #000;
$color-footer-text: #CCC;
$color-form: #f6f2f2;
$color-star-yellow: #f1d628;
$color-star-grey: #CCC;
$color-shadow: rgb(0 0 0 / 20%);
$color-overlay: rgb(0 0 0 / 50%);
$color-comment: #444;
$color-comment-date: #666;
$color-comment-empty: #999;
$color-visor-overlay: rgb(0 0 0 / 80%);
$color-arrow-background: rgb(255 255 255 / 20%);
$color-arrow-background-hover: rgb(255 255 255 / 40%);
$color-danger: #C62828;
$color-danger-hover: #8E0000;
$color-payment: #fefbfb;
$color-payment-border: #4a90e2;
$max-width: 768px;
