@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-background: #FFFFFF;
$color-text: #333333;

$color-component: #2E7D32;
$color-component-hover: #1B5E20;

$color-footer: #000000;
$color-footer-text: #CCCCCC;
$color-footer-title: #ffffff;

$color-catedral-text: #ffffff;

$color-button: #2E7D32;
$color-button-hover: #1B5E20;

$mqMinWidth: 420px;
