@use "../variables" as v;

.footer {
  padding: 2rem 1rem;
  background-color: v.$color-footer;
  color: v.$color-footer-text;
  text-align: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    
    @media screen and (max-width: v.$max-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    flex: 1 1 100px;
    max-width: 100%;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: v.$color-background;
    font-size: 1.2rem;
  }

  &__text {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}
