@use "../variables";

.header {
  background-color: variables.$color-background;
  padding: 1rem 2rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    height: 64px; 
    width: auto;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.3rem;
    }
  }

  &__link {
    color: variables.$color-component;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$color-component-hover;
    }
  }
}
