@use "../variables" as v;

.header {
  background-color: v.$color-background;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1000; // asegura que el header esté por encima

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    height: 64px; 
    width: auto;
  }

  /* Botón hamburguesa */
  &__toggle {
    display: none; // oculto en escritorio
    background: none;
    border: none;
    font-size: 1.8rem;
    color: v.$color-component;
    cursor: pointer;

    @media screen and (max-width: v.$max-width) {
      display: block; // visible en móvil
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    /* Menú oculto en móvil */
    @media screen and (max-width: v.$max-width) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: v.$color-background;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      display: none;
      z-index: 1001;
    }

    &.active {
      display: flex; 
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    @media screen and (max-width: v.$max-width) {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  }

  &__link {
    color: v.$color-component;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: v.$color-component-hover;
    }
  }

  &__translate {
    margin-left: 2rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: v.$max-width) {
      margin: 1rem 0 0;
      width: 100%;
      justify-content: flex-start;
    }
  }
}





